@font-face {
    font-family: 'Silkscreen';
    src: url('/fonts/slkscr-webfont.eot');
    src: url('/fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/slkscr-webfont.woff2') format('woff2'),
         url('/fonts/slkscr-webfont.woff') format('woff'),
         url('/fonts/slkscr-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header {
  font-family: 'Silkscreen', Proxima Nova, Helvetica Neue;
  font-weight: 300;
}

#main {
  position: relative;
  height: calc(100vh - 70px);
}

.blokje {
    height: 40px;
    width: 40px;
    position: absolute;
}

  .snack {
    background-image: url('/images/snack-house.svg');
    background-size: contain;
  }

  .snake {
    background-color: green;
  }