@font-face {
    font-family: 'Silkscreen';
    src: url('/fonts/slkscr-webfont.eot');
    src: url('/fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/slkscr-webfont.woff2') format('woff2'),
         url('/fonts/slkscr-webfont.woff') format('woff'),
         url('/fonts/slkscr-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
  0% { opacity: 1 }
  50% { opacity: .2 }
  100% { opacity: 1 }
}

@-webkit-keyframes blink {
  0% { opacity: 1 }
  50% { opacity: .2 }
  100% { opacity: 1 }
}

body {
  font-family: 'Silkscreen', Proxima Nova, Helvetica Neue, sans-serif;
}

#header {
  font-weight: 300;
}

#main {
  background-image: url('/images/background.svg');
  background-size: 40px 40px;
  height: calc(100vh - 70px);
  position: relative;
}

.intro {
  background: #FFF url('/images/background.svg');
  background-size: 40px 40px;
  height: calc(100vh - 70px);
  position: relative;
  z-index: 9999;
}

  .intro .intro-header {
    text-align: center;
    padding: 90px 0 0 0;
  }
  
    .intro .intro-header h1 {
      font-size: 40px;
      font-weight: 300;
      color: #000;
      padding: 0;
      margin: 0;
    }
    
    .intro .intro-header .description {
      font-size: 24px;
      color: #666666;
    }
    
  .intro .content {
    text-align: center;
  }
  
    .intro .content .snake-logo {
      margin: 25px 0 50px;
    }
  
    .intro .content .button {
      display: block;
      position: relative;
      width: 185px;
      background: #f8b000;
      margin: auto;
      padding: 12px 0;
      color: #FFF;
      transition: background 400ms ease;
    }
    
      .intro .content .button:before {
        background: url('/images/button-left.svg') no-repeat center right;
        background-size: 40px 70px;
        margin: -28px 0 0 -100px;
        position: absolute;
        content: "";
        width: 40px;
        height: 80px;
        
        animation-name: blink;
        animation-direction: normal;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
        -webkit-animation-name: blink;
        -webkit-animation-direction: normal;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
      }
      
      .intro .content .button:after {
        background: url('/images/button-right.svg') no-repeat center right;
        background-size: 40px 70px;
        margin: -28px 0 0 60px;
        position: absolute;
        content: "";
        width: 40px;
        height: 80px;
        
        animation-name: blink;
        animation-direction: normal;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
        -webkit-animation-name: blink;
        -webkit-animation-direction: normal;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
      }
    
      .intro .content .button:focus,
      .intro .content .button:hover {
        background: #f9c033;
        transition: background 400ms ease;
      }
      
  .intro .foot {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
  }
    
    .intro .foot .button-small {
      display: inline-block;
      color: #666;
      border-bottom: 1px solid #666;
    }
    
      .intro .foot .button-small:focus,
      .intro .foot .button-small:hover {
        color: #000;
        border-bottom: 1px dashed #000;
      }

.blokje {
    position: absolute;
}

.snake {
    /*background-color: green;*/
}

.head,
.body,
.tail,
.snack{
    background-size: contain;
}

.scoreboard {
  text-align: center;
  padding: 30px;
  position: relative;
  z-index: 9999;
}

.score {
  display: block;
  font-size: 70px;
  line-height: 100px;
  color: #000000;
}

.title {
  display: block;
  font-size: 24px;
  color: #666666;
}

.snack {background-image: url('/images/snack-house.svg');}
.head[direction=up] {background-image: url('/images/head-up.svg');}
.head[direction=down] {background-image: url('/images/head-down.svg');}
.head[direction=right] {background-image: url('/images/head-right.svg');}
.head[direction=left] {background-image: url('/images/head-left.svg');}

.snake[direction=horizontal] {background-image: url('/images/body-horizontal.svg');}
.snake[direction=vertical] {background-image: url('/images/body-vertical.svg');}

.snake[direction=left-up] {background-image: url('/images/body-left-up.svg');}
.snake[direction=right-up] {background-image: url('/images/body-right-up.svg');}
.snake[direction=left-down] {background-image: url('/images/body-left-down.svg');}
.snake[direction=right-down] {background-image: url('/images/body-right-down.svg');}

.tail[direction=up] {background-image: url('/images/tail-up.svg');}
.tail[direction=down] {background-image: url('/images/tail-down.svg');}
.tail[direction=right] {background-image: url('/images/tail-right.svg');}
.tail[direction=left] {background-image: url('/images/tail-left.svg');}
